<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Number</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Guess the Number Game</h1>
        <form id="guessForm" method="post">
            {% csrf_token %}
            <label for="userGuess">Enter your guess (1-10):</label>
            <input type="number" id="userGuess" name="userGuess" required min="1" max="10">
            <button type="submit">Submit</button>
        </form>
        <p id="feedback">{{ feedback }}</p>
    </div>


    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Guess the Number Game. All rights reserved.</p>
            <p>Developed by Aybike Dalbul</p>
            <p>
                <a href="https://github.com/yourusername/guess_the_number" target="_blank">Project GitHub</a> | 
                <a href="https://github.com/aybikedalbul" target="_blank">My GitHub</a>
            </p>
        </div>
    </footer>
    {% load static %}

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
